/* Body */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 5px 0px;
  background-color: black;
}

nav .logo img{ 
  width: 95px;
  height: 65px;
}

ul{
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-weight: 500;
}

ul li .nav-links{
  color: white;
  font-weight: bold;
}

ul li .nav-links:hover{
  color: #00b0f2;
}

ul li .nav-links::after {
  content:'';
  display: block;
  width: 0;
  height: 2px;
  background: #00b0f2;
  transition: width .3s;
}

ul li .nav-links:hover::after{
  color: #00b0f2;
  width: 100%;
  transition: width .3s;
}

ul li .btn{
  color: yellow;
  border: 1px solid yellow;
  font-weight: bold;
  padding: 8px 10px;
}